<h1> devices </h1>
<h2>HUB1</h2>
<table class="table table-striped">
  <tbody>
    <% 5.times do %>
      <tr>
        <% 16.times do %>
          <td>Node：RED </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<h2>HUB2</h2>
<table class="table table-striped">
  <tbody>
    <% 5.times do %>
      <tr>
        <% 16.times do %>
          <td>Node：RED </td>
        <% end %>
      </tr>
    <% end %>
</table>

<h2>HUB3</h2>
<table class="table table-striped">
  <tbody>
    <% 5.times do %>
      <tr>
        <% 16.times do %>
          <td>Node：RED </td>
        <% end %>
      </tr>
    <% end %>
</table>
